@font-face {
  font-family: "chocolate_covered_raindrops";
  src: font-url('chocolate_covered_raindrops/chocolate_covered_raindrops.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: "chocolate_covered_raindrops";
  src: font-url('chocolate_covered_raindrops/chocolate_covered_raindrops_bold.ttf') format('truetype');
  font-weight: bold;
}

 $my-body-font: Helvetica, Arial, Sans-Serif;
 $my-headers-font: "chocolate_covered_raindrops";

// // Define fonts for body and headers
$body-font: $my-body-font;
$headers-font: $my-headers-font;
