@font-face {
  font-family: "chocolate_covered_raindrops";
  src: font-url('chocolate_covered_raindrops/chocolate_covered_raindrops.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: "chocolate_covered_raindrops";
  src: font-url('chocolate_covered_raindrops/chocolate_covered_raindrops_bold.ttf') format('truetype');
  font-weight: bold;
}

 $my-body-font: "chocolate_covered_raindrops";

@font-face {
  font-family: "miamagon";
  src: font-url('miamagon/miamagon.otf') format('truetype');
  font-weight: normal;
}

 $my-headers-font: "miamagon";

// font-url('Avenir/AvenirBold.eot?#iefix') format('embedded-opentype'),

// // Define fonts for body and headers
$body-font: $my-body-font;
$headers-font: $my-headers-font;
