// Specific CSS for your home-page


// .background {
//   background-image: image-url('backgroundCOD.jpg');
//   background-size: cover;
//   height: 200px;
//   width: 150px;
//   // position: fixed;
//   z-index: -1;
//   opacity: 1;
// }
.backg {
background-image: linear-gradient(to bottom, #f2ffff, #ecfefe, #e6fefd, #dffdfc, #d9fcfb);
}

.flexline {
  display: flex;
  align-items: center;
  justify-content: center;
  .btn-scan {
  flex: 0 0 auto;
  // font-family: 'chocolate_cover_raindrops';
  }
}

.item {
  position: absolute;
  top: 20;
  left: 60vh;
}

.podium-position {
  box-shadow: 1px 1px 3px black;
  border-radius: 5px;
  padding: 0 2px;
  p {
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 12px;
  }
}

.backgradiant {
  background-image: linear-gradient(to right top, #03bfff, #00d7ff, #00ebe1, #00f996, #49ff00);
  background-size: cover;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: -1;
  opacity: 0.9;
}



