// Specific CSS for your home-page


// .background {
//   background-image: image-url('backgroundCOD.jpg');
//   background-size: cover;
//   height: 200px;
//   width: 150px;
//   // position: fixed;
//   z-index: -1;
//   opacity: 1;
// }

.container {
  margin-top: 80px;
}

.backg {
background-image: linear-gradient(to bottom, #f2ffff, #ecfefe, #e6fefd, #dffdfc, #d9fcfb);
padding-top: 30px;
}

.spacer {
height: 20vh;
}

.header-home {
  box-shadow: 1px 1px 3px black;
  .h3 {
      height: 86px;
  }
}
.avatar-information {
  padding-bottom: 2vh;

}

.information {
  height: 100%;
  box-shadow: 1px 1px 1px lightblue;
  border-radius: 1px;
  font-size: 24px;
  background-color: white;
  ul li {
   list-style-type: none;
 }
   ul {
  margin : 1vh;
  padding : 1vh;
  }
}

.pseudo {
  font-size: 35px;
}



.flexline {
 // display: flex;
//  align-items: center;
//  justify-content: center;
  //.btn-scan {
 // flex: 0 0 auto;
  // font-family: 'chocolate_cover_raindrops';
 // }
}

.item {
  position: absolute;
  top: 20;
  left: 60vh;
}

.podium-position {
  // box-shadow: 1px 1px 3px black;
  // border-radius: 5px;
  // padding: 0 2px;
text-align: center;
width: 70px;
// background-color: blue;

  p {
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 12px;
  }
  .small-avatar {
  border: 2px solid black;
  }

}

.backgradiant {
  background-image: linear-gradient(to right top, #03bfff, #00d7ff, #00ebe1, #00f996, #49ff00);
  background-size: cover;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: -1;
  opacity: 0.9;
}

h5 {
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 14px;
}



