// Specific CSS for your home-page
body {
  margin-top: -25px;
}

main {
  // margin-left: -30px;
}

.ranking {
  margin-top: 5px;
}

.background {
  background-image: image-url('backgroundCOD.jpg');
  background-size: cover;
  height: 200px;
  width: 150px;
  position: fixed;
  z-index: -1;
  opacity: 0.6;
}
