.fa-lock {
  color: #63B2CE;
  span {
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: bold;
    font-size: 14px;
  }
}

.fa-users {
  color: #63B2CE;
  span {
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: bold;
    font-size: 14px;
  }
}
