.aligne {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.enonce p {
  font-family: Helvetica, Arial, Sans-Serif;
  color: white;
  font-size: 16px;
  padding: 15px;
}

legend {
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 16px;
  border: none;
}

h4 {
  padding-top: 1vh;
  font-size: 7vh;
}

.img-product {
  width: 100%;
}
