.solution {
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
}

.margin-bottom {
  margin-bottom: 5vh;
  display: flex;
  align-items: center;
}

.solution-title {
  // display: flex;
  // align-items: center;
}

.same-height{
height: 55px;
display: flex;
flex-direction: column;
justify-content: center;
}

.encadrement {
  border: 1px solid black;
  padding: 1vh;
  text-transform: uppercase;
  background-color: white;
  margin-top: 5vh;
  margin-bottom: 1vh;
}


.aligne {
  display: flex;
  align-items: center;
  justify-content: center;

}

.green-point {
  color: #21AA26;
}
