<%= render 'shared/vertical_navigation' %>

<div>
  <main>
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <div class="background">
          </div>
          <%= image_tag "Avatar1.png", height:'200', width:'150' %>
          <!-- <img src="http://via.placeholder.com/150x200"> -->
        </div>
        <div class="col-xs-6 badges">
          <img src="http://via.placeholder.com/60x60">
        </div>
        <div class="col-xs-6 badges">
          <img src="http://via.placeholder.com/60x60">
        </div>
        <div class="col-xs-6 badges">
          <img src="http://via.placeholder.com/60x60">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 ranking">
          <img src="http://via.placeholder.com/290x200">
        </div>
      </div>
    </div>
  </main>
  <div class="text-center">
      <%= link_to "Scan now", scan_product_path, class:'btn btn-success btn-scan' %>
  </div>
</div>
