// .temp {
//   margin-left: 0px;
// }


.background-card {
  // background-image: image-url('backgroundCOD.jpg');
  background: linear-gradient(#3EB9CC, #456FBB);
  background-size: cover;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: -1;
  opacity: 0.9;
  h1{
    margin-top: 0px;
    color: black;

  }
}


.container-card {
  opacity: 1;
  background:#fff;
  text-align: center;
  padding: 12px;
  margin: 0 17px 31px 17px;
  overflow:hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px;
  border: 1px solid black;
  p {
    font-family: Helvetica, Arial, Sans-Serif;
    color: #666F89;
    font-size: 11px;
    margin-bottom: 0;
    margin-top: 3px;

  }
  .picture {
    filter: contrast(125%);
    background-color: #777;
    border-radius: 3px;
    box-shadow: 0px 0px 0px -1px rgba(0, 0, 0, 0.5), 0px 2px 5px 1px rgba(0, 0, 0, 0.5) inset;
    top: 0;
    width: 100%;
    height: 195px;
    background-size: cover;
    background-position: center center;
    // -webkit-filter: saturate(2);
    //  filter: saturate(2);
    }
}


.navigation {
  text-align: left;
  p {
  font-size: 13px;
  color: #555;
  margin-top: 0;
  margin-bottom: 0px;
  font-family: Helvetica, Arial, Sans-Serif;
  }
  h2 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0px;
  }
}

.podium {
  // align-items: center;
  // margin-bottom: 10px;
  margin-top: 15px;
  box-shadow: 1px 1px 1px lightblue;
  border-radius: 8px;
  //height: 30vh;
  display: flex;
  background-color: white;
  margin-bottom: 10vh;
  padding-bottom: 2vh;
  padding-top: 2vh;
  flex-direction: column;
  align-items: center;
}

.podium-list {
 width: 90%;
 // background-color: blue;
 display: flex;
 justify-content: space-between;
 padding: 0 10px;
}



.ranking {
  padding: 2vh;
  box-shadow: 1px 1px 1px lightblue;
  background-color: white;
  border-radius: 8px;
  // height: 30vh;
  // display: flex;
  // align-items: flex-end;
}

.list-organised {
  li {
  display: flex;
  align-items: flex-start;
  // justify-content: space-between;
  width: 100%;
  flex-direction: row;
  // background-color: green;
    }
    .rank-nb {
      width: 37px;
      font-weight: bold;
      margin-right: 7px;
      // flex-grow: 0;
    }
    .small-avatar {
      margin-right: 8px;
      width: 35px;
      height: 35px;
      // flex-grow: 0;
     }
     .user-score {
      // background-color: red;
     }
     .user-details {
      display: flex;
      justify-content: space-between;
      // background-color: blue;
      width: 98%;
     }
}



.paddingblock {
  margin-top: 15px;
}


.laterals:before {
  top: 15px;
  left: 0;
  width: 100%;
  height: 130px;

  border-radius: 12px / 65px;
  box-shadow: 0 0 10px #555;
}
.laterals:after { display: none; }

.test {
background-color:#777;
border-radius: 20px;
box-shadow:
0px 2px 2px 0px rgba(0, 0, 0, 0.5),
0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}

