.temp {
  margin-left: 0;
}


.background-card {
  background-image: image-url('backgroundCOD.jpg');
  background-size: cover;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: -1;
  opacity: 0.3;
  h1{
    margin-top: 0px;
    color: black;
  }
}

.container-card {
  opacity: 1;
  width:200px;
  background:#fff;
  margin:10px auto;
  text-align:center;
  padding: 12px;
  overflow:hidden;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.30);
  border-radius: 5px;
  p {
    font-family: Helvetica, Arial, Sans-Serif;
    color: #666F89;
    font-size: 11px;
    margin-bottom: 0;
    margin-top: 3px;
  }
  .picture {
    top:0;
    width:100%;
    height:145px;
    background-color: grey;
    background-repeat: no-repeat;
    background-position: center center;
    }
}

.navigation {
  text-align: left;
  p {
  font-size: 13px;
  color: #555;
  margin-top: 0;
  margin-bottom: 0px;
  font-family: Helvetica, Arial, Sans-Serif;
  }
  h2 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0px;
  }
}
