.btn-scan {
  margin-top: 20px;
  font-size: 25px;
  padding: 3px 50px;
  border-radius: 50px;
  z-index: 10;
  height: 50px;
}

.btn-scan-fixe {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 30%;
  height: 30px;
}

.btn-quizz {
  color: white;
  margin-top: 20px;
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 50%;
  z-index: 10;
  opacity: 0.8;
  transition: opacity 0.4s ease-in-out;
  &:hover {
    color: white;
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
  }
}
