.btn-scan {
  margin-top: 10px;
  font-size: 32px;
  padding: 3px;
  padding-right: 13px;
  text-shadow: 1px 1px 3px black;
  // position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
}

.btn-quizz {
  margin-top: 10px;
  font-size: 32px;
  padding: 3px 10px;
  text-shadow: 1px 1px 3px black;
  z-index: 10;
}
