.btn-scan {
  margin-top: 20px;
  font-size: 25px;
  padding: 3px;
  border-radius: 50px;
  z-index: 10;
  width: 80%;
  height: 35px;
}

.btn-scan-fixe {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 30%;
  height: 30px;
}

.btn-quizz {
  margin-top: 10px;
  font-size: 32px;
  padding: 3px 10px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-shadow: 1px 1px 3px black;
  z-index: 10;
}
