.search {
    font-family: "FontAwesome", "Source Sans Pro";
    position: relative;
    left: 50%;
    border-radius: 7px;
    box-shadow: 0 6px 8px #4195b6;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
  }


.field-icon {
    font-size: 14px;
    color: #5a6674;
    height: 30px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}
