.trash {
  text-shadow: 1px 1px 3px black;
  height: 15vh;
  width: 15vh;
  padding: 2px 5px;
  border-radius: 5px;
  border: none;
  p {
    font-size: 20px;
    line-height: 0.8em;
  }
}



.green {
  p {
    color: black;
    text-shadow: none;
  }
  img {
    // border: 3px solid #9D9A8B;
    // border-radius: 50%;
    border-top: none;
    padding-top: 3px;
    opacity: 0.8;
    transform: scale(1);
    transition: all 0.7s ease-in-out;
  }
}

.yellow {
  p {
    color: black;
    text-shadow: none;
  }
  img {
    // border: 3px solid #FFCD34;
    // border-radius: 50%;
    border-top: none;
    padding-top: 3px;
    opacity: 0.8;
    transform: scale(1);
    transition: all 0.7s ease-in-out;
  }
}


.white {
  p {
    color: black;
    text-shadow: none;
  }
  img {
    // border: 3px solid #21AA26;
    // border-radius: 50%;
    border-top: none;
    padding-top: 3px;
    opacity: 0.8;
    transform: scale(1);
    transition: all 0.7s ease-in-out;
  }
}

.circle-border img {
  // border: 3px solid black;
  // border-radius: 50%;
  border-top: 2px solid #278F75;
  opacity: 1;
  transform: scale(1.1);
  transition: all 0.7s ease-in-out;
}

.trash-choice {
display: none;
}

.form-check {
  display: flex;
  justify-content: center;
  align-items: center;
}
