.white-trash {
  text-shadow: 1px 1px 3px black;
  background-color: blue;
  width: 15vh;
  padding: 2px 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px black;
  .fas {
    margin-top: 10px;
    color: white;
  }
  p {
    font-size: 20px;
    line-height: 0.8em;
  }
}

.white {
  background-color: lightgrey;
  p {
    color: black;
    text-shadow: none;
    padding-top: 4px;
  }
}

.yellow {
  background-color: #FFCD34;
  p {
    color: black;
    text-shadow: none;
  }

}

.green {
  background-color: #022601;
  p {
    color: white;
    text-shadow: none;
  }
}
