.trash {
  text-shadow: 1px 1px 3px black;
  height: 15vh;
  width: 15vh;
  padding: 2px 5px;
  border-radius: 5px;
  border: none;
  // box-shadow: 1px 1px 3px black;
  opacity: 0.7;
  .fas {
    margin-top: 10px;
    color: white;
  }
  p {
    font-size: 20px;
    line-height: 0.8em;
  }

  &:hover {
    opacity: 1;
  }
}



.white {
  background-color: lightgrey;
  p {
    color: black;
    text-shadow: none;
  }
}

.yellow {
  // background-color: #FFCD34;
  p {
    color: black;
    text-shadow: none;
  }
  img {
    border: 3px solid #FFCD34;
    border-radius: 50%;
  }
}


.green {
  // background-color: #022601;
  p {
    color: black;
    text-shadow: none;
  }
  img {
    border: 3px solid #21AA26;
    border-radius: 50%;
  }
}

.circle-border img {
  border: 3px solid black;
  border-radius: 50%;
}

.trash-choice {
display: none;
}
